@page
@model Web.Pages.GameModel
@{
    ViewData["Title"] = "Game page";
}

<div class="principal-content">

    <img class="w-100" src="~/images/game-prototype.webp" alt="Logo">
    <div>

    </div>

</div>
