@page
@model Web.Pages.GameModel
@{
    ViewData["Title"] = "Game page";
}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Inicio de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <form class="row gx-3 gy-2 align-items-center">
                        <div class="col-sm-6">
                            <label class="visually-hidden" for="user_name">Username</label>
                            <div class="input-group">
                                <div class="input-group-text">@@</div>
                                <input type="text" class="form-control" id="user_name" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="visually-hidden" for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="principal-content">

    <img class="w-100" src="~/images/main-menu.png" alt="Logo">
    <div>

    </div>

</div>
