@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.RegistroExitoso)
{
    <script>$(document).ready(function () {
            $('#registroExitosoModal').modal('show');
        });</script>

    <!-- Modal de Registro Exitoso -->
    <div class="modal fade" id="registroExitosoModal" tabindex="-1" aria-labelledby="registroExitosoModalLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success text-white">
                    <h3 class="modal-title" id="loginModalLabel">¡Bienvenido @Model.NombreUsuario!</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¡Felicidades! Tu cuenta fue creada <span class="text-success">exitosamente</span>.<br />
                    Ahora tienes acceso al nuevo juego de Sorteos Tec y a las compras dentro de este.
                </div>
            </div>
        </div>

    </div>
}

<div class="container">

    <h1 class="text-center my-4 text-primary">¿Estás listo para jugar y ganar con Sorteos Tec?</h1>
    <p class="text-center my-4 max-w-900"><span class="fw-bold">¡Bienvenido a Sorteos Tec!</span> Hemos diseñado un <span class="fw-bold">juego exclusivo para ti</span>, lleno de desafíos y recompensas. Es una forma amena de conectarte con nosotros y tener la oportunidad de <span class="fw-bold">ganar premios</span>. <span class="fst-italic"><br />¡Anímate, juega y descubre lo que Sorteos Tec tiene para ti!</span></p>

    <div class="container text-center mt-4">
        <h2>¡Navega los juegos con solo dos teclas!</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-4 my-4">
                <p>Movimiento a la izquierda</p>
                <p><span class="mac-key">&#x2190;</span> o <span class="mac-key">A</span>
            </div>
            <div class="col-sm-6 col-md-4 my-4">
                <p>Movimiento a la derecha</p>
                <p><span class="mac-key">&#x2192;</span> o <span class="mac-key">D</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="my-4"></div>

    <div class="container">
        <h2 class="text-center text-primary">Nuestros minijuegos principales</h2>
        <div class="card-group">

            <div class=" card">
                <img class="card-img-top" src="images/fruit-basket.png" alt="Basket game">
                <div class="card-body">
                    <h4 class="card-title text-primary">TecBasket</h4>
                    <p class="card-text">Recolecta llaves y esquiva las bombas.</p>
                </div>
            </div>

            <div class=" card">
                <img class="card-img-top" src="images/tec-ship.png" alt="TecShip game">
                <div class="card-body">
                    <h4 class="card-title text-primary">TecShip</h4>
                    <p class="card-text">Destruye los meteoritos para conseguir llaves y evita chocar</p>
                </div>
            </div>

            <div class=" card">
                <img class="card-img-top" src="images/tec-jump.png" alt="TecJump game">
                <div class="card-body">
                    <h4 class="card-title text-primary">TecJump</h4>
                    <p class="card-text">Salta en las plataformas, recolecta llaves y evita caerte</p>
                </div>
            </div>

        </div>
    </div>
    <div class="container text-center">
        <a href="/Game"><button type="button" class="btn btn-primary my-4 w-100 max-w-600">Ir al juego</button></a>
    </div>
</div>