@page
@model Web.Pages.Shared.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <form method="post" asp-page="/LoginModal" class="row gx-3 gy-2 align-items-center">
        <div class="col-sm-6">
            <label class="visually-hidden" for="user_name">Username</label>
            <div class="input-group">
                <div class="input-group-text">@@</div>
                <input type="text" class="form-control" name="Username" placeholder="Username" required>
            </div>
        </div>
        <div class="col-sm-6">
            <label class="visually-hidden" for="password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password" required>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary w-100">Iniciar</button>
        </div>
        <small class="text-body-primary" id="openRegisterModal">¿Aún no estás registrado? <a href="#" data-bs-dismiss="modal">Registrate aquí.</a></small>
    </form>
</div>
