@page
@model Web.Pages.Shared.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="principal-content">

    <div class="text-center">
        <h1 class="display-4">Inicio de sesión</h1>
        <form class="row gx-3 gy-2 align-items-center">
            <div class="col-sm-6">
                <label class="visually-hidden" for="user_name">Username</label>
                <div class="input-group">
                    <div class="input-group-text">@@</div>
                    <input type="text" class="form-control" id="user_name" placeholder="Username" required>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="visually-hidden" for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
            </div>
        </form>
    </div>

</div>
