@page
@model Web.Pages.UserRegisterModel
@{
    ViewData["Title"] = "New user form";
}
@{
    var edades = Enumerable.Range(18, 53); // Crear rango de edades desde 18 hasta 70
}

@*principal-content*@
<div class=" max-w-600">
    <div class="m-1">
        <form>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre">
                </div>

                <div class="col-sm-6 mb-3">
                    <label for="apellido" class="form-label">Apellido </label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido">
                </div>
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="correo" placeholder="Correo electrónico">
            </div>

            <div class="mb-3">
                <label for="localizacion" class="form-label">Estado</label>
                <select id="localizacion" class="form-select" asp-for="EstadoSeleccionado" asp-items="@(new SelectList(Model.Estados, "Key", "Value"))">
                    <option value="">Seleccione un estado...</option>
                </select>
            </div>

            <div class="row">

                <div class="col-sm-6 mb-3">

                    <div>
                        <label class="form-label">Sexo</label>

                        <div class="d-flex">

                            <div class="flex-grow-1 d-flex align-items-center">
                                <input type="radio" id="masculino" name="sexo" value="masculino">
                                <label for="masculino" class="mb-0 ms-2">Masculino</label>
                            </div>

                            <div class="flex-grow-1 d-flex align-items-center">
                                <input type="radio" id="femenino" name="sexo" value="femenino">
                                <label for="femenino" class="mb-0 ms-2">Femenino</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 mb-3">
                    <label for="edad" class="form-label">Edad</label>
                    <select id="edad" name="edad" class="form-select">
                        @foreach (var edad in edades)
                        {
                            <option value="@edad">@edad</option>
                        }
                        }
                    </select>
                </div>

            </div>

            <div class="mb-3">
                <label for="tarjeta" class="form-label">Número de tarjeta</label>
                <div class="input-group has-validation">
                    <span class="input-group-text"><i class="bi bi-credit-card"></i></span>
                    <input type="text" class="form-control" id="tarjeta" placeholder="Número de tarjeta" pattern="\d{16}" maxlength="16" required>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-6 mb-3">
                    <label for="user_name" class="form-label">User name</label>
                    <input type="" class="form-control" id="user_name" placeholder="Escribe tu user name">
                </div>
                <div class="col-sm-6 mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

            </div>


            <button type="submit" class="btn btn-primary w-100">Enviar</button>
        </form>

    </div>
</div>